:root {
    /* Primary Colors */
    --primary-color: #3498db;
    --primary-light: #5dade2;
    --primary-dark: #2e86c1;

    /* Secondary Colors */
    --secondary-color: #2ecc71;
    --secondary-light: #58d68d;
    --secondary-dark: #28b463;

    /* Neutral Colors */
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-light: #ecf0f1;
    --gray-dark: #7f8c8d;

    /* Accent Colors */
    --accent-color: #e74c3c;
    --accent-light: #ec7063;
    --accent-dark: #cb4335;

    /* Background Colors */
    --background-light: #f5f5f5;
    --background-dark: #2c3e50;
    --background-black: #2c2f33;

    /* Text Colors */
    --text-primary: #2c3e50;
    --text-secondary: #34495e;
    --text-light: #bdc3c7;
    --text-dark: #2d3436;

    /* Link Colors */
    --link-color: #2980b9;
    --link-hover: #1abc9c;

    /* Additional Colors */
    --warning-color: #f39c12;
    --danger-color: #e74c3c;
    --orang-color: #fa5e1b;
    --success-color: #27ae60;
    --info-color: #3498db;

    /* Shadows and Borders */
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.25);
    --border-color: #dcdcdc;

     /* Purple Colors */
     --purple-color: #9b59b6;
     --purple-light: #af7ac5;
     --purple-dark: #8e44ad;

}

/* class color */
.puple {
    background-color: var(--purple-color)!important;
}

.puple-dark {
    background-color: var(--purple-dark)!important;
}

.puple-light {
    background-color: var(--purple-light)!important;
}

.warning {
    background-color: var(--warning-color)!important;
}

.orang {
    background-color: var(--orang-color)!important;
}

.danger {
    background-color: var(--danger-color)!important;
}

.info {
    background-color: var(--info-color)!important;
}

.primary-dark {
    background-color: var(--primary-dark)!important;
}

.primary-light {
    background-color: var(--primary-light)!important;
}

.success {
    background-color: var(--success-color)!important;
}

.success-light {
    background-color: var(--secondary-light)!important;
}

.ms-20 {
    margin-left: 20px;
}

.ms-50 {
    margin-left: 50px;
}

.me-50 {
    margin-right: 50px;
}

.ms-100 {
    margin-left: 100px;
}

.m-10 {
    margin: 5px;
}

.contact-flex {
    display: flex;
    margin: 5px 10px;
}

html,body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--background-black);
    color: var(--white-color);
    overflow-x: hidden;
}

html,body::after {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--background-black);
    color: var(--white-color);
    overflow-x: hidden;
}

/* Header Styles */
header {
    background-color: #23272a;
    padding: 0 20px;
    text-align: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}


header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color:#f39c12; 
    font-size: 16px;
}

/* grid */
.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
  }

/* switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border-color);
    transition: 0.4s;
}

.slider:hover{
    background-color: #f39c12;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #f39c12;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.me-info h1 {
    margin: 10px 0;
}

.me-info p {
    margin: 0 0 30px 0;
}

.m-none {
    margin: 10px 0 0 0;
}

/* Me Section */
#me {
    padding: 10px;
    text-align: center;
    background-color: #2f3136;
}

/* About Section */
#about, #certificate {
    padding: 50px;
    text-align: center;

}

.about-frame {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.about-frame-item {
    /* background-color: #1abc9c; */
    padding: 20px;
    border-radius: 5px;
}

.frame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.frame-item-1,.frame-item-2,.frame-item-3 {
    /* background-color: #1abc9c; */
    padding: 20px;
    border-radius: 5px;
}

.edu-frame {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-left: 70px;
}

.edu-frame-item {
    /* background-color: #1abc9c; */
    padding: 20px;
    border-radius: 5px;
}

/* Skills Section */
#skills {
    padding: 50px;
    background-color: #2f3136;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}

.skill-item {
    background-color: #99aab5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Portfolio Section */
#portfolio {
    padding: 50px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.port-item-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    justify-items: center;
}

.portfolio-item img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.portfolio-item p {
    text-align: center;
    margin-top: 10px;
}

/* Experience Section */
#experience,#education {
    padding: 50px;
    background-color: #23272a;
}

.experience-item {
    margin-bottom: 20px;
}

/* Testimonial Section */
#testimonial {
    padding: 50px;
}

.testimonial-item {
    text-align: center;
}

.testimonial-item img {
    width: 100px;
    border-radius: 50%;
}

/* Contact Section */
#contact {
    padding: 50px;
    text-align: center;
    background-color: #2f3136;
}

/* Thank Section */
#thank {
    padding: 20px;
    text-align: center;
    background-color: #23272a;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.contact-item {
    background-color: var(--gray-light);
    color: var(--text-dark);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-left: 2px solid #7f8c8d;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 40px;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-date {
    position: absolute;
    left: -90px;
    top: 0;
    background-color: #333333;
    color: #ecf0f1;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -28px;
    top: 5px;
    width: 12px;
    height: 12px;
    background-color: #f39c12;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

.timeline-content {
    width: fit-content;
    background-color: #3b3b3b;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.timeline-content h3 {
    margin: 0;
    font-size: 20px;
}

.timeline-content p {
    margin: 10px 0;
}

.timeline-content p strong,strong {
    color: #f39c12;
}

.ex {
    color: #ffffff;
    font-size: 18px;
    display: flex;
    justify-content: end;
    /* margin-right: 30px; */
}

.p-link {
    color: #ffffff;
    font-size: 18px;
    display: flex;
    justify-content: end;
}

.cer {
    color: #ffffff;
    font-size: 18px;
}

a:hover{
    color: #f39c12;
    font-size: 18px;
}

.font-bold {
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* เริ่มต้นโดยซ่อนเนื้อหาและปรับโปร่งใส */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transition-delay: 0.3s; 
}

/* เมื่อเนื้อหาอยู่ในมุมมอง (viewport) */
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.03s; 
}

div>i {
    padding: 10px;
}

/* Responsive for Samsung A55 */
@media only screen and (max-width: 500px) {
    header nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .grid-container {
        grid-template-columns: 1fr;
        padding: 5px;
    }

    .timeline-date,.timeline-item::before {
        display: none;
    }

    .timeline-content {
        width:fit-content;
    }

    div.timeline-item, div.timeline.fade-in.show {
        padding: 0;
    }

    h3#pro1 {
        font-size: 18px;
    }

    video {
        width: 170px;
        height: 100px;
        padding: 5px 5px 5px 0!important;
    }

    .port-item-grid {
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        width: 170px;
    }

    .edu-frame-item {
        padding: 0;
    }

    .timeline {
        border-left:none;
    }

    .skills-grid {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .portfolio-item img {
        width: 100%;
        height: auto;
    }

    .contact-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .timeline {
        padding: 10px;
    }

    .timeline-item {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 360px) {
    header nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .grid-container {
        grid-template-columns: 1fr;
        padding: 5px;
    }

    .timeline-date,.timeline-item::before {
        display: none;
    }

    .timeline-content {
        width:fit-content;
    }

    .frame-item-1,.frame-item-2,.frame-item-3 {
        padding: 10px!important;
    }

    #portfolio {
        padding: 15px;
    }

    h2{
        font-size: 16px;
    }

    div.timeline-item, div.timeline.fade-in.show {
        padding: 0;
    }

    h3#pro1{
        font-size: 16px;
    }

    video {
        width: 170px;
        height: 100px;
        padding: 5px 5px 5px 0!important;
    }

    .port-item-grid {
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        width: 170px;
    }

    .edu-frame-item {
        padding: 0;
    }

    .timeline {
        border-left:none;
    }

    .skills-grid {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .portfolio-item img {
        width: 100%;
        height: auto;
    }

    .contact-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    div#con1{
        padding: 10px;
    }

    div>i {
        padding: 10px 10px 10px 0;
    }

    .timeline {
        padding: 10px;
    }

    .timeline-item {
        padding-left: 20px;
    }
}




