:root {
    /* Primary Colors */
    --primary-color: #3498db;
    --primary-light: #5dade2;
    --primary-dark: #2e86c1;

    /* Secondary Colors */
    --secondary-color: #2ecc71;
    --secondary-light: #58d68d;
    --secondary-dark: #28b463;

    /* Neutral Colors */
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-light: #ecf0f1;
    --gray-dark: #7f8c8d;

    /* Accent Colors */
    --accent-color: #e74c3c;
    --accent-light: #ec7063;
    --accent-dark: #cb4335;

    /* Background Colors */
    --background-light: #f5f5f5;
    --background-dark: #2c3e50;
    --background-black: #2c2f33;

    /* Text Colors */
    --text-primary: #2c3e50;
    --text-secondary: #34495e;
    --text-light: #bdc3c7;
    --text-dark: #2d3436;

    /* Link Colors */
    --link-color: #2980b9;
    --link-hover: #1abc9c;

    /* Additional Colors */
    --warning-color: #f39c12;
    --danger-color: #e74c3c;
    --orang-color: #fa5e1b;
    --success-color: #27ae60;
    --info-color: #3498db;

    /* Shadows and Borders */
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.25);
    --border-color: #dcdcdc;

     /* Purple Colors */
     --purple-color: #9b59b6;
     --purple-light: #af7ac5;
     --purple-dark: #8e44ad;

}

/* class color */
.puple {
    background-color: var(--purple-color)!important;
}

.puple-dark {
    background-color: var(--purple-dark)!important;
}

.puple-light {
    background-color: var(--purple-light)!important;
}

.warning {
    background-color: var(--warning-color)!important;
}

.orang {
    background-color: var(--orang-color)!important;
}

.danger {
    background-color: var(--danger-color)!important;
}

.info {
    background-color: var(--info-color)!important;
}

.primary-dark {
    background-color: var(--primary-dark)!important;
}

.primary-light {
    background-color: var(--primary-light)!important;
}

.success {
    background-color: var(--success-color)!important;
}

.success-light {
    background-color: var(--secondary-light)!important;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-black);
    color: var(--white-color);
}

/* Header Styles */
header {
    background-color: #23272a;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* grid */
.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
  }

/* switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border-color);
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: var(--info-color);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.header-info h1 {
    margin: 10px 0;
}

.header-info p {
    margin: 0;
}

/* About Section */
#about {
    padding: 50px;
    text-align: center;
}

/* Skills Section */
#skills {
    padding: 50px;
    background-color: #2f3136;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}

.skill-item {
    background-color: #99aab5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Portfolio Section */
#portfolio {
    padding: 50px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.portfolio-item p {
    text-align: center;
    margin-top: 10px;
}

/* Experience Section */
#experience {
    padding: 50px;
    background-color: #23272a;
}

.experience-item {
    margin-bottom: 20px;
}

/* Testimonial Section */
#testimonial {
    padding: 50px;
}

.testimonial-item {
    text-align: center;
}

.testimonial-item img {
    width: 100px;
    border-radius: 50%;
}

/* Contact Section */
#contact {
    padding: 50px;
    text-align: center;
    background-color: #2f3136;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.contact-item {
    background-color: var(--gray-light);
    color: var(--text-dark);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
